@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Berkeley Mono", sans-serif;
  --font-mono: "Berkeley Mono", monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #363636;
    --foreground: #ededed;
  }
}

body {
  background: #363636;
  color: var(--foreground);
  font-family: "Berkeley Mono", sans-serif;
}
